<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossin的编程教室</title>
{#    开发环境#}
{#    <link rel="stylesheet" href="{% static 'tools/css/bootstrap.css' %}">#}
{#    <script src="{% static 'tools/js/jquery-3.2.1.js' %}"></script>#}
{#    <script src="{% static 'tools/js/bootstrap.js' %}"></script>#}

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#    生产环境#}

<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{#<link rel="stylesheet" href="{% static 'tools/css/tools-define-min.css' %}" media="screen and (max-width:768px)">#}
{#<link rel="stylesheet" href="{% static 'tools/css/tools-define.css' %}" media="screen and (min-width:768px)">#}
<link rel="stylesheet" href="{% static 'tools/css/tools-define.css' %}">
{# <link rel="icon" href="{% static 'labpage/img/bitbug_favicon.ico' %} ">#}

    {% block head %}{% endblock %}
</head>
<body class="tools-body">
    <nav class="navbar tools-navi" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed tools-base-collap" data-toggle="collapse" data-target="#toolslist" aria-expanded="false">
                    <span class="sr-only tools-base-color">Toggle navigation</span>
                    <span class="icon-bar tools-base-color"></span>
                    <span class="icon-bar tools-base-color"></span>
                    <span class="icon-bar tools-base-color"></span>
                </button>
                <a class="navbar-brand" href="http://crossincode.com/">Crossin的编程教室</a>
            </div>

            <div class="collapse navbar-collapse" id="toolslist">
                <ul class="nav navbar-nav tools-tags">
                    <li class="active"><a href="/">实验室</a></li>
                    <li class="dropdown">
                        <a href="/tools/" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            工具列表
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/tools/">首页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/tools/qrcode">二维码生成</a></li>
                            <li><a href="/tools/base64">Base64加密解密</a></li>
                            <li><a href="/tools/reg">正则测试</a></li>
                            <li><a href="/tools/conv">进制转换</a></li>
                            <li><a href="/tools/md">MD/网页互转</a></li>
                            <li><a href="/tools/json">Json字符串美化</a></li>
                            <li><a href="/tools/sc">HTML状态码查询</a></li>
                            <li><a href="/tools/cron">Crontab时间计算</a></li>
                            <li><a href="/tools/game2048">2048</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button">码上行动 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://crossincode.com/school/course/1/">Python入门教程</a></li>
                            <li><a href="http://crossincode.com/school/course/2/">Python爬虫实战</a></li>
                        </ul>
                    </li>
                    <li><a href="http://bbs.crossincode.com/forum.php" target="_blank">交流论坛</a></li>
                    <li><a href="https://zhuanlan.zhihu.com/crossin" target="_blank">知乎专栏</a></li>
    {#                <li><input type="text"></li>#}
                </ul>
            </div>
        </div>
    </nav>

    <div class="tool-main">
    {% block index %}{% endblock %}
    {% block tool-page %}{% endblock %}
    </div>

{#    <footer class="footer center-block">Crossin的编程教室</footer>#}
    <hr>
{#      页脚#}
<footer class=" lab-footer">
        <div class="container-fluid">
            <div class="row lab-footer-row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h4>Crossin的编程教室</h4>
                <p>编程世界的新手村。扫描右侧二维码，关注公众号，获取更多学习资源</p>
                <p>苏ICP备15063769号</p>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="{% static 'labpage/img/wxqr.jpg' %}" alt="Crossin的编程教室二维码" class="lab-ft-img pull-right">
            </div>

        </div>
        </div>
    </footer>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=30493657" charset="UTF-8"></script>

</body>
</html>
