{% extends 'tools/base.html' %}
{% block index %}
    <p class="tools-index-text text-center h2">在线工具</p>

    <div class="container-fluid">
        <div class="row tools-row">
            <hr>
            {% for item in tools %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a class="tools-index-tools-item" href="{{ item.mark }}">
                    <span class="tools-index-tools-item-img">
                        <img src="{{ item.image.url }}" alt="" class="tools-index-pic" >
                    </span>
                    <div class="tools-index-tools-item-text">
                        <div class="tools-index-tools-item-title">{{ item.title }}</div>
                        <div class="tools-index-tools-item-ins">{{ item.instruction }}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
