{% extends 'tools/base.html' %}
{% block head %}
    <link href="https://cdn.bootcss.com/jquery-jsonview/1.2.3/jquery.jsonview.min.css" rel="stylesheet">
    <meta name="keywords" content="tool, JSON字符串美化, crossin, 编程教室">
    <meta name="description" content="JSON字符串美化">
{% endblock %}

{% block tool-page %}

    <p class="tools-index-text text-center h2">JSON字符串美化</p>
    <p class="tools-index-ins center-block">
    JSON(JavaScript Object Notation, JS 对象标记) 是一种轻量级的数据交换格式。它基于 ECMAScript (w3c制定的js规范)的一个子集，
        采用完全独立于编程语言的文本格式来存储和表示数据。简洁和清晰的层次结构使得 JSON 成为理想的数据交换语言。
        易于人阅读和编写，同时也易于机器解析和生成，并有效地提升网络传输效率。
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-md-2"></div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 tools-area">
                <hr>
                <div class="tools-cr-area">
                    <textarea name="" id="textarea" rows="10" class="tools-base64-text" placeholder="粘贴所需美化的json字符串"></textarea>
                    <button class="btn btn-default tools-jp-btn tools-btn">美化</button>
                    <pre id="text2" class="tools-base64-text hidden" ></pre>
                </div>
                {#                评论框#}
                <div class="tools-qrcode-cmt">
                    {% include 'tools/comment.html' %}
                </div>
{#                评论框#}
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2"></div>
        </div>
    </div>


    <script>
        $(function () {
            $('button').click(function () {
                var ipt = $('#textarea').val();
                console.log(ipt);
                try{
                $("#text2").JSONView(ipt)
                    } catch(e){
                    $("#text2").text(e)
                } finally {
                     $("#text2").removeClass('hidden');
                }

            })
        })
    </script>
    <script src="https://cdn.bootcss.com/jquery-jsonview/1.2.3/jquery.jsonview.min.js"></script>
{% endblock %}
