{% extends 'tools/base.html' %}
{% block head %}
    <meta name="keywords" content="tool, markdown生成, crossin, 编程教室">
    <meta name="description" content="MD/HTML互转">
{% endblock %}
{% block tool-page %}
    <p class="tools-index-text text-center h2">MD/HTML互转</p>

    <p class="center-block tools-index-ins">
    Markdown是一种可以使用普通文本编辑器编写的标记语言，通过简单的标记语法，它可以使普通文本内容具有一定的格式。Markdown的语法简洁明了、学习容易，而且功能比纯文本更强，因此有很多人用它写博客。
    </p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-md-2"></div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12 tools-area">
                <hr>
                <div class="tools-md-area">
                    <textarea name="" id="mdtext" rows="10" class="tools-md-text" placeholder="在此输入需转换的markdown文本或者html文本，点击相应按钮即可"></textarea>
                    <div class="tools-md-btngroup">
                        <button class="btn btn-success tools-btn" id="md2h">md转html</button>
                        <button class="btn btn-success tools-btn" id="h2md">html转md</button>
                    </div>
                </div>
                {#                评论框#}
                <div class="tools-qrcode-cmt">
                    {% include 'tools/comment.html' %}
                </div>
{#                评论框#}
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2"></div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/to-markdown/3.0.4/to-markdown.js"></script>
    <script src="https://cdn.bootcss.com/showdown/1.7.1/showdown.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#md2h').click(function () {
                var mdtext = $('#mdtext').val();
                var converter = new showdown.Converter();
                var html = converter.makeHtml(mdtext);
                $('#mdtext').val(html)
            });
            $('#h2md').click(function () {
                var httext = $('#mdtext').val();
                var mdtext = toMarkdown(httext);
                $('#mdtext').val(mdtext)
            })
        })
    </script>
{% endblock %}
