{% extends 'tools/base.html' %}
{% block head %}
    <meta name="keywords" content="tool, 在线二维码生成, crossin, 编程教室">
    <meta name="description" content="在线二维码生成">
{% endblock %}
{% block tool-page %}
{#    二维码生成#}
    <p class="tools-index-text text-center h2">在线二维码生成</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-md-2"></div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <hr>
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-7 col-md-7 col-xs-12">
                            <div class="tools-qrcode-config">
                                <textarea name="" id="qrtext" rows="5" class="center-block tools-qrcode-textarea" placeholder="输入需要生成二维码的文本"></textarea>
                                <input type="text" placeholder="插入图片logo地址" id="qraddr" class="tools-index-input">
                                <button class="btn btn-default tools-qrcode-btn" id="qrbtn">
                                    生成二维码
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-xs-12">
                            <div class="tools-qrcode-display">
                                <img src="http://qr.topscan.com/api.php?text=Crossin的编程教室" id="qrimg" class="center-block tools-qrcode-img"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2"></div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#qrbtn').click(function () {
                alert('ssss');
                var text = $('#qrtext').val();
                var rawurl = 'http://qr.topscan.com/api.php?text=';
                var picaddr = $('#qraddr').val();
                var url = null;
                if (picaddr === ''){
                    url = rawurl+text
                } else {
                    url = rawurl+text+ '&logo=' + picaddr
                }
                $('#qrimg').attr('src', url);
            });
        })

    </script>

{% endblock %}
