{% extends 'tools/base.html' %}
{% block head %}
    <meta name="keywords" content="tool, 在线二维码生成, crossin, 编程教室">
    <meta name="description" content="在线二维码生成">
{% endblock %}
{% block tool-page %}
{#    二维码生成#}
    <p class="tools-index-text text-center h2">在线二维码生成</p>


    <p class="tools-index-ins center-block">
    二维条码/二维码（2-dimensional bar code）是用某种特定的几何图形按一定规律在平面（二维方向上）分布的黑白相间的图形记录数据符号信息的；在代码编制上巧妙地利用构成计算机内部逻辑基础的“0”、“1”比特流的概念，使用若干个与二进制相对应的几何形体来表示文字数值信息，通过图象输入设备或光电扫描设备自动识读以实现信息自动处理：它具有条码技术的一些共性：每种码制有其特定的字符集；每个字符占有一定的宽度；具有一定的校验功能等。同时还具有对不同行的信息自动识别功能、及处理图形旋转变化点。
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-md-2"></div>
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <hr>
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-lg-7 col-md-7 col-xs-12">
                            <div class="tools-qrcode-config">
                                <textarea name="" id="qrtext" rows="5" class="center-block tools-qrcode-textarea" placeholder="输入需要生成二维码的文本"></textarea>
                                <input type="text" placeholder="插入图片logo地址" id="qraddr" class="tools-index-input">
                                <button class="btn btn-default tools-qrcode-btn" id="qrbtn">
                                    生成二维码
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-5 col-xs-12">
                            <div class="tools-qrcode-display">
                                <img src="http://qr.topscan.com/api.php?text=Crossin的编程教室" id="qrimg" class="center-block tools-qrcode-img"/>
                            </div>
                        </div>
                    </div>
                </div>

{#                评论框#}
                <div class="tools-qrcode-cmt">
                    {% include 'tools/comment.html' %}
                </div>
{#                评论框#}

            </div>
            <div class="col-lg-2 col-sm-2 col-md-2"></div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#qrbtn').click(function () {
{#                alert('ssss');#}
                var text = $('#qrtext').val();
                var rawurl = 'http://qr.topscan.com/api.php?text=';
                var picaddr = $('#qraddr').val();
                var url = null;
                if (picaddr === ''){
                    url = rawurl+text
                } else {
                    url = rawurl+text+ '&logo=' + picaddr
                }
                $('#qrimg').attr('src', url);
            });
        })

    </script>

{% endblock %}
