<body>
<div class="outer-wrapper" id="site-LandingPage">
	<div class="with-newsletter ">
		<nav class="navbar navbar-default unsticky">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand navbar-link" href="https://teamemo.com/"><img src="/static/images/teamemo.svg" height="50" alt="Teamemo"/></a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
			</div>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active" role="presentation"><a id="link_signup" href="https://teamemo.com/#signup">Start</a></li>
					<li role="presentation"><a href="https://teamemo.com/features"> Features  </a></li>
					<li role="presentation"><a href="https://teamemo.com/pricing">Pricing </a></li>
					<li role="presentation"><a id="link_signin" href="https://teamemo.com/#signin">Sign in</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img alt="en" title="English" src="/static/flags/en.svg" width="26" height="18"/><span class="caret"></span></a>
					<ul class="dropdown-menu language-dropdown">
						<li><a href="/?L=en"><img alt="en" title="English" src="/static/flags/en.svg" width="26" height="18"/></a></li>
						<li><a href="/de?L=de"><img alt="de" title="German" src="/static/flags/de.svg" width="26" height="18"/></a></li>
					</ul>
					</li>
				</ul>
			</div>
		</div>
		</nav>
		<div id="main-layout" class="layout no-sidebar">
			<div id="wrapper">
				<div id="page-content-wrapper">
					<div>
					</div>
					<div>
						<div class="jumbotron hero">
							<div id="jumbo-bg" class="bg" style="background: url(&quot;/static/landing/img/bg_note_coffee.jpg&quot;) no-repeat center;">
							</div>
							<div class="container">
								<div class="row">
									<div class="col-md-10 col-md-offset-1 get-it">
										<h1><img src="/static/images/teamemo.svg" id="main-logo" height="70" alt="Teamemo"/><br/><span class="small">Knowledge management as never before.</span></h1>
										<p>
											Brainstorm, develop and document your ideas, projects and products together with your whole team in real time.
										</p>
									</div>
									<div class="col-md-12 phone-preview">
										<div class="testnow-card" id="signup_form">
											<form class="form-sign form-inline" action="/testNow" method="post">
												<input type="hidden" name="_form" defaultvalue="signup"/><input type="hidden" name="entry" defaultvalue="landingpage"/><input type="hidden" name="locale" defaultvalue="en"/>
												<div class="form-group">
													<button id="signup-btn" class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Try now</button>
												</div>
											</form>
										</div>
									</div>
									<div class="col-md-12 scroll-down-container">
										<a href="#learn-more" data-track-category="landingpage" data-track-action="click" data-track-name="learn-more"><i class="fa fa-arrow-down" aria-hidden="true"></i>Learn more</a>
									</div>
								</div>
							</div>
						</div>
						<a id="learn-more" name="learn-more"></a>
						<div class="container">
							<h2 class="text-center">A wiki that works!</h2>
							<div class="row feature-row">
								<div class="col-md-6 image">
									<img ref="image" class="outdent-shadow image-responsive stopped" src="/static/animations/type.png" width="600" height="300"/>
								</div>
								<div class="col-md-6 text">
									<h2>Preserve your knowledge</h2>
									<h3>Digital at one central place</h3>
									<div>
										<p>
											Teamemo is the best platform to easily preserve your knowledge accessible for your whole team.
										</p>
										<p>
											Get more productive with a central knowledge base and never waste time again collecting and searching for information.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="gray-background">
							<div class="container">
								<div class="row feature-row">
									<div class="col-md-6 col-md-push-6 image">
										<img ref="image" class="outdent-shadow image-responsive stopped" src="/static/animations/collab.png" width="600" height="300"/>
									</div>
									<div class="col-md-6 col-md-pull-6 text">
										<h2>First class teamwork</h2>
										<h3>With realtime-synchronisation</h3>
										<div>
											<p>
												Write in parallel on one document.
											</p>
											<p>
												The written text will be synced in real time with your team members. Ideal for creative processes like meetings, brainstorming or project planning.
											</p>
											<p>
												Working together was never so easy and creative.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row feature-row">
								<div class="col-md-6 image">
									<img ref="image" class="outdent-shadow image-responsive stopped" src="/static/animations/editor.png" width="600" height="300"/>
								</div>
								<div class="col-md-6 text">
									<h2>Simple and easy usage</h2>
									<h3>Thanks to an innovative WYSIWYG Editor</h3>
									<div>
										<p>
											Write with a What You See Is What You Get (WYSIWYG) Editor directly in your browser.
										</p>
										<p>
											No need for special skills or training.
										</p>
										<p>
											Documentation accessible for everyone.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="gray-background" style="padding-bottom: 40px;">
							<div class="container">
								<h2 class="text-center extra-margin">Who should use?</h2>
								<div class="row motivation-list">
									<div class="col-md-4 col-sm-6 motivation-item">
										<div class="motivation-container">
											<h2><a href="#">Individuals</a></h2>
											<div class="row">
												<div class="col-xs-12">
													<p class="motivation-description">
														Collect your ideas and findings in your personal wikis. Plan your vacation or next <i>do it yourself</i> project. Share your thoughts with your family and friends.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 motivation-item">
										<div class="motivation-container">
											<h2><a href="#">Communities</a></h2>
											<div class="row">
												<div class="col-xs-12">
													<p class="motivation-description">
														Build up a central knowledge base with your community. A community wiki is the simplest way for share How-to's, Tutorials and Documentation in one central place.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-4 col-sm-6 motivation-item">
										<div class="motivation-container">
											<h2><a href="#">Business</a></h2>
											<div class="row">
												<div class="col-xs-12">
													<p class="motivation-description">
														The knowledge of your team members is most important. Connect your team with a business wiki to conserve your knowledge and make important information easy to find and always accessible.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix">
							</div>
						</div>
					</div>
					<div class="container why-container">
						<h2 class="text-center">Why Teamemo?</h2>
						<div class="row feature-row">
							<div class="col-md-6 text">
								<div class="why-wrap">
									<i class="fa fa-envelope"></i>
									<h2>Made in Germany</h2>
									<h3>German Privacy</h3>
								</div>
								<div class="description">
									<p>
										The strict german privacy law is applied. Your data is processed and saved in german data centers.
									</p>
									<p>
										No information will be transferred in other countries or third parties.
									</p>
								</div>
							</div>
							<div class="col-md-6 text">
								<div class="why-wrap">
									<i class="fa fa-server"></i>
									<h2>No setup</h2>
									<h3>Hosting inclusive</h3>
								</div>
								<div class="description">
									<p>
										Teamemo is fully hosted by our own infrastructure. Only a browser is needed for usage.
									</p>
									<p>
										There are no additional costs for setup, hosting or maintenance.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="container why-container">
						<div class="row feature-row">
							<div class="col-md-6 text">
								<div class="why-wrap">
									<i class="fa fa-user-circle-o"></i>
									<h2>Ease of use</h2>
									<h3>No training required</h3>
								</div>
								<div class="description">
									<p>
										Thanks to its easy to use user interface, Teamemo is usable without training for non computer experts.
									</p>
								</div>
							</div>
							<div class="col-md-6 text">
								<div class="why-wrap">
									<i class="fa fa-shield"></i>
									<h2>Security</h2>
									<h3>Data Encryption</h3>
								</div>
								<div class="description">
									<p>
										All Information is encrypted before transfared between Teamemo and you. We audit our infrastructure for strong security standards on a regular base.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix">
					</div>
				</div>
			</div>
		</div>
		<div class="newsletter-subscribe">
			<div class="container">
				<div class="intro">
					<h2 class="text-center">Subscribe to our Newsletter</h2>
					<p class="text-center">
						We update teamemo and add features to teamemo constantly. If you want to stay up to date with our news, subscribe to our newsletter.
					</p>
				</div>
				<form class="form-inline" method="post" action="https://blog.teamemo.com/?na=s">
					<input type="hidden" name="nr" value="page"/><input type="hidden" name="nl[]" value="1"/>
					<div class="form-group">
						<input class="form-control" type="email" name="ne" data-cip-id="cIPJQ342845639" required placeholder="Your Email"/>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" type="submit" value="Subscribe">Subscribe </button>
					</div>
				</form>
			</div>
		</div>
		<footer>
		<div class="row">
			<div class="col-md-4 col-sm-6 footer-navigation">
				<h3><a href="/" style="display: inline-block;"><img src="/static/images/teamemo.svg" alt="Teamemo"/></a></h3>
				<p class="links">
					<a href="/">Home</a><b> · </b><a target="_blank" href="https://blog.teamemo.com">Blog</a><b> · </b><a href="/imprint">Legal notice</a><b> · </b><a href="/privacy">Privacy</a><b> · </b><a href="/policies">Policies</a>
				</p>
				<p class="company-name">
					Teamemo UG (haftungsbeschränkt) © 2017
				</p>
			</div>
			<div class="col-md-4 col-sm-6 footer-contacts">
				<div>
					<span class="fa fa-map-marker footer-contacts-icon"></span>
					<p>
						<span class="new-line-span">Haid-und-Neu-Straße 7</span>D-76131 Karlsruhe<br/>Germany
					</p>
				</div>
				<div>
					<i class="fa fa-envelope footer-contacts-icon"></i>
					<p>
						<a href="mailto:info@teamemo.com" target="_blank">info@teamemo.com</a>
					</p>
				</div>
			</div>
			<div class="clearfix visible-sm-block">
			</div>
			<div class="col-md-4 footer-about">
				<h4>About the company</h4>
				<p>
					The Teamemo UG (haftungsbeschränkt) is a innovative high technology company with main focus on knowledge management, founded by two university graduates of the Karlsruher Institute for Technology (KIT).
				</p>
				<div class="social-links social-icons">
					<a target="blank" href="https://www.facebook.com/teamemoweb/"><i class="fa fa-facebook"></i></a><a target="blank" href="https://twitter.com/teamemoweb"><i class="fa fa-twitter"></i></a>
				</div>
			</div>
		</div>
		</footer>
	</div>
</div>
<script id="reactData" type="text/json">{"id":"site-LandingPage","componentName":"site/LandingPage","props":{"title":"Teamemo - Knowledge management as never before. A wiki software for everyone.","form":{},"errors":[],"styleFile":"landingpage.css","jumboBgImage":"bg_note_coffee.jpg","splitTestGroup":"A","splitTestName":"LandingpageBackground","user":{"id":"AAA5FCzmsPCIC_cak-P_Jg","guest":true},"mainDomain":"https://teamemo.com","flashMessages":[],"locale":"en","routes":{"en":"/","de":"/de"}}}</script>
<!--[if lte IE 9]>
<script src="https://teamemo.com/static/app/app.6cd8cad48f4429d1d070.en.js" crossorigin="anonymous"></script>
<script src="https://teamemo.com/static/app/site.LandingPage.eeac0db610920e767d64.bundle.en.js" crossorigin="anonymous"></script>
<![endif]-->
<!--[if gt IE 9 | !IE ]>-->
<script defer src="https://teamemo.com/static/app/app.6cd8cad48f4429d1d070.en.js" crossorigin="anonymous"></script>
<script defer src="https://teamemo.com/static/app/site.LandingPage.eeac0db610920e767d64.bundle.en.js" crossorigin="anonymous"></script>
<!--<![endif]>-->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <script src="https://teamemo.com/static/js/ie10-viewport-bug-workaround.js"></script>
 -->
</body>