{% extends 'labpage/base.html' %}
{% block labpage %}
    {% load static %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="ppx-main-block">
                    <h2 class="text-center">扫码入库小程序</h2>
                    <hr>
                    <h4>试用小程序</h4>
                    <img src="{% static 'labpage/img/mina_code.jpg' %}" alt="" >
                    <br><br>
                    <h4>小程序页面截图：</h4>
                    <img src="{% static 'labpage/img/scancode.png' %}" alt="" class="scan-img">
                    <br><br>
{#                    <h3>简介：</h3>#}
                    <p>扫码小程序介绍：<a href="https://zhuanlan.zhihu.com/p/27526461" target="_blank">https://zhuanlan.zhihu.com/p/27526461</a></p>
                    <p>目前为 demo 版的产品吧，实现了基本的扫码入库、出库操作，可以查询库存列表，还可以自己创建新库。小程序端作为系统的前台，主要负责登录、扫码和用户界面。
                        微信提供了一套类似网页前端的开发接口。由于要保存库存数据，所以得有一个后台的服务器端，作为操作的响应以及数据存储。
                         我们这里用的是 Django，一个很常用的 python web 框架。数据库使用了 MySQL。</p>
                    <p>扫描右下角二维码关注微信公众号 "Crossin的编程教室"</p>
                    <p>公众号 "Crossin的编程教室" 里回复 <strong>小程序</strong> 获取 <strong>源代码</strong>。</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
    </div>
{% endblock %}