{% extends 'myproxy/base.html' %}
{% block head %}
    <meta name="keywords" content="IP池, 代理, 免费代理">
    <meta name="decription" content="免费 ip 代理池， 由 Crossin 的编程教室开发">
{% endblock %}
{% block index %}

    <div class="center-block root-index-block">
{#              <p style="color:white">免费代理 IP</p>#}
          <table class="table table-bordered proxy-index-table">
              <tr>
                <th>Addr</th>
                <th>Port</th>
                <th>匿名度</th>
                <th>Type</th>
                <th>Location</th>
{#                        <th>IP 来源</th>#}
                <th>最后验证时间</th>
              </tr>
              {% for item in items %}
              <tr>
                <td>{{item.ip }}</td>
                <td>{{item.port }}</td>
                <td>{{item.get_type_display}}</td>
                <td>{{item.head}}</td>
                <td>{{item.district}}</td>
{#                        <td>{{item.resourse}}</td>#}
                <td>{{item.last_modified_time}}</td>
              </tr>
              {% endfor %}
          </table>
    </div>

{% endblock %}
